<h2>Top Pokemons</h2>

<div class="top-pokemon-wrapper">
  <pokemon-card *ngFor="let pokemon of topPokemons" [pokemon]="pokemon"></pokemon-card>
</div>

<h2>Charts</h2>

<div style="width: 100%; display:inline-block">
  <h3>Pokemon Distrubution By Types</h3>
  <kendo-chart [style.height.px]="500" [transitions]="false">
    <kendo-chart-series>
      <kendo-chart-series-item
        [autoFit]=true
        type="pie"
        [data]="data"
        categoryField="kind"
        field="share"
      >
        <kendo-chart-series-item-labels
          position="outsideEnd"
          color="#000"
          [content]="labelContent"
        >
        </kendo-chart-series-item-labels>
      </kendo-chart-series-item>
    </kendo-chart-series>
    <kendo-chart-legend [visible]="false"></kendo-chart-legend>
  </kendo-chart>
</div>