<div class="header">
    <h1 class="main-title">
      <span>{{title}}</span>
    </h1>
    <img class="header-first-img" src="../assets/images/charmander.png">
    <img class="header-second-img" src="../assets/images/pikachu.png">

    <nav>
      <button class="nav-buttons" kendoButton iconClass="gg-website" routerLink="/dashboard" routerLinkActive="active" [primary]="true"><span>Dashboard</span></button>
      <button class="nav-buttons" kendoButton iconClass="gg-pokemon" routerLink="/pokemons" routerLinkActive="active" [primary]="true"><span>All Pokemons</span></button>
    </nav>
</div>
<router-outlet></router-outlet>
