<h2>All Pokemons</h2>

<form class="search-form" #templateForm="ngForm">
  <p class="label">Pokemon Name</p>
  <kendo-textbox placeholder="Enter a Pokemon Name" name="name" [(ngModel)]="value" (ngModelChange)="onSearchModelChanged()">
    <ng-template kendoTextBoxPrefixTemplate>
      <kendo-icon name="search"></kendo-icon>
      <kendo-textbox-separator></kendo-textbox-separator>
    </ng-template>
  </kendo-textbox>
</form>

<div class="top-pokemon-wrapper">
  <pokemon-card *ngFor="let pokemon of filteredPokemons" [pokemon]="pokemon"></pokemon-card>
</div>

<!-- <div class="error" *ngIf="error">{{error}}</div>
<button (click)="addPokemon()">Add New Pokemon</button>
<div *ngIf="addingPokemon">
  <pokemon-detail (close)="close($event)"></pokemon-detail>
</div>
-->
