// Fonts for our Application

@font-face {
  font-family: 'poke';
  src: url('/assets/fonts/pokemon-font/poke.ttf') format('truetype');
}

@font-face {
  font-family: 'poke-solid';
  src: url('/assets/fonts/pokemon-font/poke-solid.ttf') format('truetype');
}

