@import 'src/assets/fonts.scss';
@import 'src/assets/colors.scss';
@import url('https://css.gg/pokemon.css');
@import url('https://css.gg/website.css');
@import url('https://css.gg/arrow-left.css');
@import url('https://css.gg/push-chevron-down.css');

body { 
    margin: 0; 
}

h2 {
    font-size: 3rem;
    line-height: 4rem;
    text-align: center;
    font-family: 'milky-nice';
    color: black;
}

h3 {
    font-size: 2rem;
    line-height: 0rem;
    text-align: center;
    font-family: 'milky-nice';
    color: black;
}

h4 {
    font-size: 1rem;
    line-height: 0rem;
    text-align: center;
    font-family: 'milky-nice';
    color: black;
}


* { font-family: 'Arial'; }
